# Python artifacts
__pycache__/
*.pyc

# ML training artifacts
**/runs/
**/.cache/
**/all_results.json
**/train_results.json
**/eval_results.json
**/trainer_state.json
**/training_args.bin
**/*.tfevents.*